#main-container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    text-align: center;
    line-height: 150px;
    font-size: 2em;
    border: 2px solid black;
    margin-bottom: -2px;
    margin-left: -2px;
}